<div class="text-center mb-4">
    <button class="btn btn-outline-info mx-2" onclick="filterProducts('All')">Tất cả</button>
    <button class="btn btn-outline-info mx-2" onclick="filterProducts('FPS')">FPS</button>
    <button class="btn btn-outline-info mx-2" onclick="filterProducts('Hành Động')">Hành Động</button>
    <button class="btn btn-outline-info mx-2" onclick="filterProducts('Sinh Tồn')">Sinh Tồn</button>
    <button class="btn btn-outline-info mx-2" onclick="filterProducts('Chiến Thuật')">Chiến Thuật</button>
    <button class="btn btn-outline-info mx-2" onclick="filterProducts('Giải Trí')">Giải Trí</button>
</div>

<div class="row mt-4" style="background: #171a21;">
    @foreach (var item in Model)
    {
        <div class="item features-image col-12 col-md-6 col-lg-4"
             data-category="@item.Category"
             style="background-color: #171a21;">
            <div class="item-wrapper">
                <div class="item-img">
                    <img src="@item.ImageUrl" alt="Game Shop" title="">
                </div>
                <div class="item-content" style="background-color: #171a21">
                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id">
                        <h6 class="item-subtitle" style="color: white; font-family: 'Orbitron'">@item.Name</h6>
                    </a>
                    <p style="color: white;">@item.Price.ToString("C")</p>
                    <button style="border: 1px solid #00ffff !important; text-align: center; color: white !important; border-radius: 20px; display: flex; justify-content: center; align-items: center; padding: 10px 20px; text-decoration: none;" class="game-button">
                        <a asp-controller="Shoppingcart" asp-action="AddToShoppingCart" asp-route-pId="@item.Id" target="self" style="color: white !important; text-decoration: none; display: flex; align-items: center;">
                            <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn" style="color: white !important; margin-right: 5px;"></span>
                            <span style="font-family: 'Orbitron', sans-serif;">Thêm Vào Giỏ Hàng</span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function filterProducts(category) {
        const products = document.querySelectorAll('.item.features-image');
        products.forEach(item => {
            if (category === 'All' || item.getAttribute('data-category') === category) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    }
</script>

